<article class="post">
	<header class="post-header home">
		<div class="post-title"> <span id='category-name'></span></div>
	</header>

	<div class="post-content">
		{%- if site.posts.size > 0 -%}
		<ul class="post-list">
			{%- assign sorted_posts = site.posts | sort: "order" -%} <!-- order 기준 정렬 -->
			{%- for post in sorted_posts -%}
			<li class="post-list-item post-category-{{ post.categories }}">
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
				{%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
			</li>

			{%- endfor -%}
		</ul>
		{%- endif -%}
	</div>

</article>

<script src="/public/js/jquery-3.4.1.slim.min.js"></script>
<script>
	function removeCategory() {
		if (window.location.hash) {
			let hash = window.location.hash.substring(1);
			$('#category-name').text(hash.substring(0, 1).toUpperCase() + hash.substring(1));
			$('.post-list-item').each((i, e) => {
				const $el = $(e);
				if (!$el.hasClass('post-category-' + hash)) {
					$el.hide().removeClass('fade-in');
				} else {
					$el.show().addClass('fade-in');
				}
			});
		}
	}

	$(window).on('hashchange', () => {
		removeCategory();
	});

	$(document).ready(() => {
		removeCategory();
	});
</script>