<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <style>
	@import url("/public/css/syntax/{{ site.highlighter-theme }}.css");
  </style>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
	<!-- Floating Buttons -->
<div class='float-button-container'>
  <a class="float-button" href="/category/#{{ category_name }}" target="_blank">
      <img class="float-button-image" src="/assets/back.png" />
    Back
  </a>
  <a class="float-button" href="https://www.qrtkr.com/kr/customer/inquiry.php" target="_blank">
      <img class="float-button-image" src="/assets/logo2.png" />
    문의하기
  </a>
</div>
<!-- Floating Buttons End -->
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
  </body>
</html>