<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <style>
	@import url("/public/css/syntax/{{ site.highlighter-theme }}.css");
  </style>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
	<!-- Floating Buttons -->
<div class='float-button-container'>
  <a class="float-button" href="https://www.qrtkr.com/kr/customer/inquiry.php" target="_blank">
	문의하기&nbsp&nbsp&nbsp&nbsp&nbsp
      <img class="float-button-image" src="/assets/right_btn_logo.png" style="margin-left: auto; width: 34px; height: 34px;"/>
    
  </a>
</div>
<!-- Floating Buttons End -->
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
  </body>
</html>