<article class="post">

  <div class="welcome-section" style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
    <!-- 첫 번째 로고 -->
    <img src="{{ '/assets/logo.png' | relative_url }}" alt="Logo" style="height: 60px; margin-right: 20px;">
    
    <!-- 두 번째 로고 -->
    <img src="{{ '/assets/laser2cots_logo.png' | relative_url }}" alt="Laser2COTS Logo" style="height: 100px; margin-left: 20px;">
  
    <div style="text-align: center; margin: 0 20px;">
      <h2>Welcome to LASER2COTS</h2>
      <p>Explore what we do with the lasers😀</p>
    </div>
    
  </div>

  <header class="post-header home">
    <div class="post-title">Articles</div>
  </header>

  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>



</div>
